---
pageable: true
per_page: 10
blog: preso
---
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <div class="w3-card-12">
    <header class="w3-container w3-theme-light">
      <h2><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></h2>
    </header>
    <div class="w3-container">
      <!-- use article.summary(250) if you have Nokogiri available to show just
      the first 250 characters -->
      <%= article.summary %>
    </div>
  </div>
  <p>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
